/* css for map, tweets and search box */

html, body, .container {
    height: 100%;
    width: 100%;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#map {
    float: left;
    height: 98%;
    width: 70%;
    background-color: grey;
    margin-top: 1%;
}
#searchPlacesBox {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;    
}
#searchPlacesBox:focus {
    border-color: #4d90fe; 
}
#tweets {
    float: left;
    height: 98%;
    width: 28%;
    overflow-y:scroll;
    padding-left: 10px;
    margin-top: 1%;
}
